body {
    margin: auto;
    height: 100vh;
    background-color: white;
}

.topnav {
    background-color: black;
    color: white;
    height: 40px; 
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.topnav a {
    color: white;
    font-family: "poppins", serif; 
    font-size: 20px;
    text-decoration: none; 
}

.topnav a:hover {
    color: grey;
}

